[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
beautifulsoup4 = "*"

pydantic = "*"

pydantic-settings ="*"
python-dotenv = "*"

pymongo = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.11"
